_site/
_scotuswatch/ot23_decisions/earlier_term_decisions
_scotuswatch/docket_parser/OT01_OT22_docket_sheets
_scotuswatch/docket_parser/OT23_docket_sheets
_scotuswatch/stat_pack_OT24/ot24_decisions/earlier_term_decisions
_scotuswatch/oral_argument_oyez
.Rproj.user
